header {
    display: flex;
    align-items: baseline;
    flex-wrap: wrap;
    text-transform: capitalize;
    font-family: "Quicksand", sans-serif;
    justify-content: space-between;
}

body{
    font-family: "Karla", sans-serif;
    font-weight: 600;
}

.home {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto;
}

.home h2{
    text-align: center;
    font-size:25px;
    max-width: 800px;
    padding-bottom: 40px;
}

#pers_greet{
    display: flex;
    flex-wrap:wrap;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    font-size:17px;
    max-width: 700px;
    margin:auto;
    
}

.home .sort_by {
    align-self:flex-end;
    padding-right: 20px;
}

.home .sort_by form {
    display: flex;
    flex-direction: row;
    column-gap: 5px;
}

.home .blog_post {
    display: flex;
    flex-direction: column;
    width: 80%;
    overflow: hidden;
    row-gap: 20px;
}

.home .blog_post img {
    object-fit: contain;
    max-width: 100%;
    max-height: 100%;
    padding-top: 20px;
}

.home .blog_post .blog_text{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-basis: auto;
    max-height: 50%;
    height: 60px;
}

.home .blog_post .blog_text .post_title {
    font-weight: bolder;
    font-size: 30px;
}

.home .blog_post .blog_text .time_author {
    font-weight: bolder;
    font-size: 20px;
}

.home .blog_post .short_description {
    font-weight: 400;
    font-size: 17px;
}

.home .readMore h6 {
    font-size: 17px;
    align-self: center;
}

.home .readMore {
    display: flex;
    max-height: 30%;
    height: 60px;
}

h1{
    font-weight: bold;
}

.flash_messages {
    display: flex;
    justify-content: center;
}

span {
    white-space: nowrap;
}

.BTmain{
    flex-grow:1;
    margin:20px;
}

.BTmain a:hover{
    text-decoration: none;
    color: black;
}

nav {
    font-family: "Karla", sans-serif;
    font-weight: bold;
    color: black;
    display: flex;
    margin: 20px;
    flex-basis: auto;
    column-gap: 20px;
    justify-content: flex-end;
}

a, a:visited {
    color: black;
    text-decoration: none;
    text-decoration-line: none;
}

a:hover {
    color:lightgrey;
    text-decoration-line:underline;
}

footer {
    font-weight: 400;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    column-gap: 20px;
    line-height: 0;
    background-color: rgb(245, 245, 245);
}

footer .contacts{
    text-align: center;
    line-height: 0.5;
    padding-left: 20px;
    margin-bottom: -3px;
}

footer #copyright{
    text-align: center;
    line-height: 15px;
}

hr {
    width: 60%;
    height: 1px;
    border: 0;
    background-color: gainsboro;
    margin-bottom: 30px;
    margin-top: 10px;
}

#navbarhr {
    margin-bottom:10px;
    margin-top:0;
}

img {
    min-width: 100%;
}

h1 {
    text-align: center;
}

.aboutme{
    display:flex;
    margin:auto;
    align-items: flex-start;
    flex-direction: column;
    max-width: 500px;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
}

form .submitbutton {
    align-self: center;
    margin: auto;
}

.indipost {
    display:flex;
    width: 80%;
    margin: auto;
    flex-direction: column;
    justify-content: center;
    flex-basis: 0;
}

.indipost .post_in_post_content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
}

.indipost .postimg_inpost img {
    object-fit: contain;
    max-width: 100%;
    max-height: 100%;
}

.indipost .postimg_inpost {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.indipost .postimg_inpost .detailed_description {
    font-family: "Karla", sans-serif;
    white-space: pre-wrap;
    max-width: 800px;
    object-fit: contain;
    padding:20px;
    line-height: 30px;
}

.indipost .post_info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items:baseline;
    column-gap: 30px;
}

.indipost .post_in_post_content .post_info .post_title {
    font-size: 30px;
}

.indipost .post_in_post_content .post_info .author {
    font-size: 15px;
}

.indipost .post_in_post_content .avg_rating {
    align-items: flex-end;
    font-size: 20px;
}

.rating_comment {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.rating_comment .post_rating {
    display: flex;
    flex-direction: row;
    column-gap: 20px;
    align-items:baseline;
}

.rating_comment .post_rating p {
    font-size: 17px;
}

.comment_text .comment_count {
    display: flex;
    justify-content: center;
    padding-top: 30px;
}

.comment_text {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.comment_text .indi_comment {
    display: flex;
    flex-direction: row;
    padding-top: -30px;
}

.comment_text .indi_comment p {
    padding-left: 20px; 
    margin: auto;
}

.comment_text .indi_comment h5 {
    font-size: 15px;
}

.back_to_top{
    position:sticky;
    bottom:30px;
    display: flex;
    justify-content: right;
    align-self: flex-start;
    /* margin: 20px; */
}

#topbtn {
    font-family: "Karla", sans-serif;
    font-weight: 600;
    border:none;
    outline: none;
    color:black;
    background-color: transparent;
    font-size: 17px;
}

#topbtn:hover{
    color:lightgrey;
    text-decoration-line:underline;
}

.to_posts {
    display: flex;
    justify-content: space-between;
    font-family: "Karla", sans-serif;
    font-weight: 600;
    color:black;
    border: none;
    outline: none;
    text-decoration-line:underline;
    background-color: transparent;
    font-size: 17px;
    margin:5px;
    position:sticky;
    bottom:10px;
}

.login_error p {
    text-align: center;
}

.errors {
    text-align: center;
}

.errors small{
    font-size: 17px;
}

.privacycontent {
    display: flex;
    flex-direction: column;
    max-width: 500px;
    white-space: pre-wrap;
    margin: auto;
    font-weight: 500;
}

.privacycontent h3 {
    font-weight: 700;
}