{% extends "layout.html" %}
{% block content %}
<h1>About Me</h1>
<div class="aboutme">
    <h3>Education</h3>
        <ul>MSc in Computing, Cardiff University</ul>
        <ul>BAS(Hons) in New Media, City University of Hong Kong</ul>
        <ul>Higher Diploma in Multimedia Design and Technology, The Hong Kong Polytechnic University</ul>
    <h3>Work Experience</h3>
        <ul>Digital Marketing Executive, Starkford Limited</ul>
    <h3>Software Skills</h3>
        <ul>Python</ul>
        <ul>javascript</ul>
        <ul>Flask</ul>
        <ul>HTML</ul>
        <ul>CSS</ul>
        <ul>Processing</ul>
</div>
{% endblock content %}
