{% extends "layout.html" %}
{% block content %}

<div class="home">
  <div id="pers_greet">
  {% if current_user.is_anonymous %}
    <h1>Hello, Guest!</h1>
  {% endif %}

  {% if current_user.is_authenticated %}
    <h1>Hello, {{ current_user.first_name }}!</h1>
  {% endif %}
  </div>
  <div class="sort_by">
    <form method="POST" action="">
      {{ sortBy.csrf_token }}
      <p>{{ sortBy.order.label }} &nbsp {{ sortBy.order }}</p> &nbsp
      <input class="submitbutton" type="submit" value="Sort"></input>
    </form>
  </div>
  {% for post in posts %}
  <div class="blog_post">
    <div>
      <a href="{{ url_for('post', post_id=post.id) }}"><img class="postimg_inpost" src="{{ url_for('static', filename='img/' + post.image_file) }}"></a>
    </div>
    <div class="blog_text">
      <span>
        <h3 class="post_title"><a href="{{ url_for('post', post_id=post.id) }}">{{ post.title }}</h3></a>
      </span>
      <span>
        <p class="time_author">{{ post.date.strftime('%d-%m-%Y') }} &nbsp by {{ post.user.username }}</p>
      </span>
    </div>
    <div>
      <p class="short_description" >{{ post.content|truncate(100, False, '...')}}</p>
    </div>
  </div>
  <div class="readMore" >
    <h6><a href="{{ url_for('post', post_id=post.id) }}">Read More</h6></a>
  </div>
  <hr>
  {% endfor %}
</div>
  
{% endblock content %}
