<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="author" content="Levina Chan">
  <meta name="keywords" content="software development, UX, UI, frontend developer, HTML, CSS, Javascript, Flask, Python">
  <meta name="description" content="This is Levina Chan's personal portfolio.">
  <script type=text/javascript src="{{ url_for('static', filename='javascript.js') }}"></script>
  <link rel=stylesheet type=text/css href="{{ url_for('static',
  filename='style.css') }}">
  <link href="https://fonts.googleapis.com/css2?family=Karla:wght@200&family=Quicksand&display=swap" rel="stylesheet">
  <title>Levina Chan</title>
</head>
<body>
  <header class="top">
    <h1 class="blogtitle">
        <span class="BTmain"><a href="{{ url_for('home') }}">Levina Chan</a></span>
    </h1>
    <nav id="top_navig_bar">
      <a id="home" href="{{ url_for('home') }}">Home</a>&nbsp
      <a id="about" href="{{ url_for('about') }}">About</a>&nbsp
      {% if current_user.is_anonymous %}
        <a id="register" href="{{ url_for('register') }}">Register</a>
        <a id="login" href="{{ url_for('login') }}">Login</a>
      {% endif %}
      {% if current_user.is_authenticated %}
        <a id="logout" href="{{ url_for('logout') }}">Logout</a>
      {% endif %}
    </nav>
  </header>
  <hr id="navbarhr"></hr>
  <div id="pers_greet">
    {% if current_user.is_anonymous %}
      <h1>Hello, Guest!</h1>
    {% endif %}
  
    {% if current_user.is_authenticated %}
      <h1>Hello, {{ current_user.first_name }}!</h1>
    {% endif %}
  </div>
  <div class="flash_messages">
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        {% for message in messages %}
          {{ message }}
        {% endfor %}
      {% endif %}
    {% endwith %}
  </div>
  {% block content %}
  {% endblock %}
  <div class="back_to_top">
    <button onclick="backToTop()" id="topbtn">Back To Top</button>
  </div>
  <footer id="footer">
    <div class="contacts">
      <p>Contact Details:</p>
      <p>Email: <a target="_top" href="mailto:chant8@cardiff.ac.uk">chant8@cardiff.ac.uk</a></p>
      <p>Linkedin: <a href="https://www.linkedin.com/in/levina-chan">www.linkedin.com/in/levina-chan</a></p>
    </div>
    <p id="privacypolicy"><a href="{{ url_for('privacypolicy') }}">Privacy Policy</a></p>
    <p id="disclaimer"><a href="{{ url_for('disclaimer') }}">Disclaimer</a></p>
    <div id="copyright">
      <p>All materials copyrighted to Levina Chan belong to Levina Chan</p>
      <p>©2022 by Levina Chan</p>
    </div>
  </footer>
</body>
</html>
