<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <link rel=stylesheet type=text/css href="{{ url_for('static',
  filename='style.css') }}">
  <link href="https://fonts.googleapis.com/css2?family=Karla:wght@200&family=Quicksand&display=swap" rel="stylesheet">
  <title>F for Flask</title>
</head>
<body>
  <header class="top">
    <h1 class="blogtitle">
        <span class="BTmain">F for Flask</span>
        <!-- <span class="BTnote">Document Your Life</span> -->
    </h1>
    <span class="navbar">
        <!-- <nav> -->
      <a href="{{ url_for('home') }}">Home</a>&nbsp
      <a href="{{ url_for('about') }}">About</a>&nbsp
      {% if current_user.is_anonymous %}
        <a href="{{ url_for('register') }}">Register</a>
        <a href="{{ url_for('login') }}">Login</a>
      {% endif %}
      {% if current_user.is_authenticated %}
        <a href="{{ url_for('logout') }}">Logout</a>
      {% endif %}
        <!-- </nav> -->
    </span>
  </header>
  <hr></hr>
  <div class="flash_messages">
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        {% for message in messages %}
          {{ message }}
        {% endfor %}
      {% endif %}
    {% endwith %}
  </div>
  {% block content %}
  {% endblock %}
  <footer>
    <p>©2022 by Levina Chan</p>
  </footer>
</body>
</html>
