{% extends "layout.html" %}
{% block content %}

  <form method="POST" action="">
    {{ user_login_form.csrf_token }}
    <div class="login_form">
      <p class="username">{{ user_login_form.email.label }}</p>
      <p class="username">{{ user_login_form.email }}</p>
      <p class="password">{{ user_login_form.password.label }}</p>
      <p class="password">{{ user_login_form.password }}</p>
    </div>
    <div>
      <p class="submitbutton"><input type="submit" value="Login"></p>
    </div>
  </form>
</div>
{% endblock content %}
