{% extends "layout.html" %}
{% block content %}
<div class="indipost">
    <div class="post_in_post_content">
        <div class="post_info">
            <h3 class="Post_inpost_title">{{ post.title }}</h3>
            <h3 class="author" >Author: {{ post.user.username }}</h3>
        </div>
        <h3 class="avg_rating">Rating: {{ avg_score|round(1, 'ceil') }}</h3>  
    </div>
    <div class="postimg_inpost">
        <img src="{{ url_for('static', filename='img/' + post.image_file) }}">
        <pre class="postContent">
            {{ post.content }}
        </pre>
    </div>
</div>
<div class="rating_comment">
    <form class="rating_radio" method="POST" action="">
        {{ ratingscale.csrf_token }}
        <h4>{{ ratingscale.star.label }}</h4>
        {% for star in ratingscale.star%}
            <P>{{ star.label }}: {{ star }}</p>
        {% endfor %}
        <input type="submit" value="Rate">
    </form>
    <form class="comment_box" method="POST" action="">
        {{ commentBox.csrf_token }}
        <p>{{ commentBox.content.label }}</p>
        <p>{{ commentBox.content(rows='8', cols='50') }}</p>
        <input type="submit" value="Post">
    </form>
</div>
<h4 class="comment_count">{{ post.comment.count() }} comment(s)</h4>
<div class="comments">
    {% for comment in post.comment %}
        <hr>
        <span class="indi_comment">
            <h5>{{ comment.user.username }}: </h5> &nbsp
            <p>{{ comment.content }}</p>
        </span>
    {% endfor %}
</div>
{% endblock content %}