{% extends "layout.html" %}
{% block content %}
<div class="indipost">
    <div class="post_in_post_content">
        <div class="post_info">
            <h3 class="post_title">{{ post.title }}</h3>
            <h3 class="author" >Author: {{ post.user.username }}</h3>
        </div>
        <h3 class="avg_rating">Rating: {{ avg_score|round(1, 'ceil') }}</h3>  
    </div>
    <div class="postimg_inpost">
        <img src="{{ url_for('static', filename='img/' + post.image_file) }}" alt="{{ post.alt_tag }}">
        <pre class="detailed_description">
            {{ post.content }}
        </pre>
    </div>
</div>
{% if current_user.is_authenticated %}
<div class="rating_comment">
    <form class="post_rating" method="POST" action="">
        {{ ratingscale.csrf_token }}
        <h4>{{ ratingscale.star.label }}</h4>
        {% for star in ratingscale.star%}
            <P>{{ star.label }}: {{ star }}</p>
        {% endfor %}
        <input type="submit" value="Rate">
    </form>
    <div class="comment_text">
        <form method="POST" action="">
            {{ commentBox.csrf_token }}
            <p>{{ commentBox.content.label }}</p>
            <p>{{ commentBox.content(rows='8', cols='50') }}</p>
            <input type="submit" value="Post">
        </form>
{% endif %}
        <h4 class="comment_count">{{ post.comment.count() }} comment(s)</h4>
        {% for comment in post.comment %}
            <hr>
            <span class="indi_comment">
                <h5>{{ comment.user.username }}: </h5> &nbsp
                <p>{{ comment.content }}</p>
            </span>
        {% endfor %}
    </div>
</div>
<div class="to_posts">
    {% if post.id > 1 %}
        <span><a href="{{ url_for('post', post_id=post.id-1) }}">Previous: {{ previousTitle.title }}</a></span>
    {% endif %}
        <span><a href="{{ url_for('home') }} " id="to_all_post">All posts</a></span>
    {% if post.id < numberOfPosts %}
        <span><a href="{{ url_for('post', post_id=post.id+1) }}">Next: {{ nextTitle.title }}</a></span>
    {% endif %}
</div>
{% endblock content %}