{% extends "layout.html" %}
{% block content %}
<h1>Privacy Policy</h1>
<div class="privacycontent">
    <p>This privacy policy ("policy") will help you understand what data we will collect when you visit and use this website.</p>
    <p>We reserve the right to change this policy at any given time.</p>
    <h3>The User Data We Collect</h3>
    <li>Your email</li>
    <li>Your first name</li>
    <h3>Safeguarding and Securing the Data</h3>
    <p>We are committed to securing your data and keeping it confidential.</p>
</div>
{% endblock content %}