{% extends "layout.html" %}
{% block content %}

{% if user_reg_form.errors %}
    <h1>Sorry, there is a problem with your registration</h1>
    {% for field, errors in user_reg_form.errors.items() %}
        <small>
            <p>{{ " ".join(errors) }}</p>
        </small>
    {% endfor %}
{% endif %}

<form method="POST" action="">
  {{ user_reg_form.csrf_token }}
  <div class="registrationform">
    <p class="username_new">{{ user_reg_form.username.label }}</p>
    <p class="username_new">{{ user_reg_form.username }}</p>
    <p class="first_name_new">{{ user_reg_form.first_name.label }}</p>
    <p class="first_name_new">{{ user_reg_form.first_name }}</p>
    <p class="email_new">{{ user_reg_form.email.label }}</p>
    <p class="email_new">{{ user_reg_form.email }}</p>
    <p class="password_new">{{ user_reg_form.password.label }}</p>
    <p class="password_new">{{ user_reg_form.password }}</p>
    <p class="password_confirm">{{ user_reg_form.confirm_password.label }}</p>
    <p class="password_confirm">{{ user_reg_form.confirm_password }}</p>
  </div>
  <div class="submitbutton">
    <input type="submit" value="Register">
  </div>
</form>

{% endblock content %}
